{% extends 'MoviesHub/links.html' %}
{% block nav_block %}
    <div class="header">
        <nav class="navbar navbar-dark bg-dark" style="background-color: #232323!important">
            <a class="navbar-brand align-left" href="#">
                <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30"
                     class="d-inline-block align-top" alt="">
                <h2>Movies Hub</h2>
            </a>
        </nav>
    </div>
{% endblock %}
{% block body_block %}
{% endblock %}
