
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #121212!important

}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #f5fffe;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
}

.search_input {
    width: 1000px;
    color: #121212!important;
    border: 0;
    outline: 0;
    background: none;
    width: 100%;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}